page-login {

    .login-button {
        width: 100%;
        border-radius: 3px;
        font-size: 0.9em;
        //background-color: #08f049;
    }

    .campo {
        border-radius: 3px !important;
        background-color: #f6f6f6;
        //opacity: 0.7;
    }    

}
